html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
}
.loupe-white {
  display: none;
}

.search-box {
  background: #c3bfbc;
  height: 40px;
  padding: 5px;
  border-radius: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-box:hover>.search-text {
  width: 150px;
  transition: 0.6s;
  padding-left: 10px;
}

.search-box:hover>.search-btn {
  background: #68635f;
  border-radius: 20px;
}

.search-box:hover>.search-btn .loupe-blue {
  display: none;
}

.search-box:hover>.search-btn .loupe-white {
  display: block;
}

.search-text {
  background: none;
  padding: 0;
  border: 0;
  outline: 0;
  width: 0;
}

.search-btn {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.imgmeninos {    
  width: 100%;
  height: 100vh;
  background-image: url('./images/imgmeninos.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;  
  position: relative;  
}
@media (min-width: 1080px) {
  .imgmeninos {    
    background-size: 100% 90%;
  }
}
.dsh1{
  padding-left: 5%;
  padding-top: 7%;
  color: #E5936A;
  font-size: 5vw;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: Comic Sans MS, Comic Sans, cursive;
}
.dsh11{
  padding-left: 5%;
  color: #E5936A;
  font-size: 5vw;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: Comic Sans MS, Comic Sans, cursive;
}
.button-container {
  display: flex;
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: center;
}
.button {
  display: inline-block;
  background-color: #ffffff;
  color: #000000;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  text-decoration: none;
  font-weight: bold;
  margin-left: 6%;
  margin-top: 50px;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #ebebeb;
}

@media (max-width: 768px) {
  .button {
    margin-left: 6%;
    margin-top: 10px;
    max-width: 25%;
    text-align: center;
    font-size: 2vw;
    box-sizing: border-box;
  }
}

.txtimg{
  padding-left: 5%;
  margin-top: 2%;
  font-size: 2vw;
  text-align: left;
  width: 36%;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.modal-content {  
  background-color: #fff;
  left: 10%;
  padding: 0;
  margin: 0 auto; 
  position: relative;
  width: 90%;
  overflow: hidden;
  height: 77%;    
  background: color #ffffff80;  
  border-radius:4%;
  box-shadow:3px 3px 1px 0px #00000060 
     
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
